.nav__elem {
    width: 30px;
    height: 30px;
    background: black;
    border: 0;
    padding: 0;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
}

.nav__elem:hover {
    background: #444444;
    border-radius: 50%;
    cursor: pointer;
}
