@import url(./__cover-image/player__cover-image.css);
@import url(./__controls/player__controls.css);
@import url(./__buttons/player__buttons.css);
@import url(./__bar/player__bar.css);
@import url(./__time-current/player__time-current.css);
@import url(./__bar-current/player__bar-current.css);
@import url(./__time/player__time.css);
@import url(./__track/player__track.css);

.player {
    width: 100%;
    height: 100px;
    background: #333333;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
}
