body {
    background: #666666;
    font-family: sans-serif;
    font-size: 14px;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0;
    text-align: center;
}

nav {
    width: 100%;
    height: 50px;
    background: black;
    position: fixed;
    top: 0;
    text-align: center;
}

.logo {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.nav-elem {
    width: 30px;
    height: 30px;
    background: black;
    margin-top: 10px;
    padding: 0;
    border: 0;
}

.nav-elem:hover {
    background: gray;
    border-radius: 50%;
    cursor: pointer;
}

.nav-elem > img {
    width: 30px;
    height: 30px;
}

.nav-elem > img:hover {
    border-radius: 50%;
}

.nav-profile {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0;
    border: 0;
    float: right;
    border-radius: 50%;
}

.nav-profile:hover {
    cursor: pointer;
}

.nav-profile > img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.player {
    width: 100%;
    height: 100px;
    background: #333333;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

.player > img {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.player-track {
    float: left;
}

.player-track-title {
    width: 30px;
    color: white;
    line-height: 20px;
    margin: 0;
    margin-top: 30px;
    margin-left: 10px;
}

.player-track-artist {
    width: 30px;
    color: #AAAAAA;
    line-height: 20px;
    margin: 0;
    margin-left: 10px;
}

.player-controls {
    display: inline-flex;
}

.player-controls-back {
    width: 20px;
    height: 20px;
    background: #333333;
    margin-top: 25px;
    margin-right: 10px;
    padding: 0;
    border: 0;
}

.player-controls-back > img {
    width: 20px;
    height: 20px;
}

.player-controls-play {
    width: 30px;
    height: 30px;
    background: #333333;
    margin-top: 20px;
    padding: 0;
    border: 0;
}

.player-controls-play > img {
    width: 30px;
    height: 30px;
}

.player-controls-forward {
    width: 20px;
    height: 20px;
    background: #333333;
    margin-top: 25px;
    margin-left: 10px;
    padding: 0;
    border: 0;
}

.player-controls-forward > img {
    width: 20px;
    height: 20px;
}

.player-repeat {
    width: 30px;
    height: 30px;
    background: #333333;
    margin-top: 35px;
    margin-right: 15px;
    padding: 0;
    border: 0;
    float: right;
}

.player-repeat > img {
    width: 30px;
    height: 30px;
}

.player-favorite {
    width: 30px;
    height: 30px;
    background: #333333;
    margin-top: 35px;
    margin-left: 15px;
    margin-right: 30px;
    padding: 0;
    border: 0;
    float: right;
}

.player-favorite > img {
    width: 30px;
    height: 30px;
}

.player-bar {
    background: #D9D9D9;
    width: 50%;
    height: 4px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}

.player-bar-time-current, .player-bar-time {
    margin-top: -14px;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.player-bar-time-current {
    float: left;
}

.player-bar-time {
    float: right;
}

.search {
    width: 80%;
    height: 40px;
    background: #AAAAAA;
    font-size: 20px;
    border: 2px solid #666666;
    border-radius: 10px;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}

.search:focus {
    background: #333333;
    border: 2px solid #1ED760;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.track {
    width: 80%;
    height: 60px;
    background: #333333;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.track-album {
    width: 60px;
    height: 60px;
    border: 0;
    padding: 0;
    float: left;
}

.track-album > img {
    width: 60px;
    height: 60px;
}

.track-description {
    float: left;
}

.track-title {
    color: white;
    line-height: 20px;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.track-artist {
    color: #AAAAAA;
    line-height: 20px;
    margin: 0;
    margin-left: 10px;
}

.track-favorite {
    width: 20px;
    height: 20px;
    background: #333333;
    border: 0;
    padding: 0;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

.track-favorite > img {
    width: 20px;
    height: 20px;
}

.track-play {
    width: 20px;
    height: 20px;
    background: #333333;
    border: 0;
    padding: 0;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

.track-play > img {
    width: 20px;
    height: 20px;
}

.playlist-add {
    width: 40px;
    height: 40px;
    background: #666666;
    display: block;
    border: 0;
    padding: 0;
    margin: auto;
    margin-top: 25px;
}

.playlist-add > img {
    width: 40px;
    height: 40px;
}

.playlist {
    width: 80%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.playlist > img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.playlist-description {
    display: inline-block;
    text-align: left;
    margin-left: 20px;

    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

/* h1, h2, h3 {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
} */

h1 {
    font-size: 36px;
}

h3 {
    color: #AAAAAA;
}

input {
    width: 80%;
    height: 40px;
    background: #AAAAAA;
    font-size: 20px;
    border: 2px solid #666666;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 25px;
    outline: none;
}

input:focus {
    background: #333333;
    border: 2px solid #1ED760;
    color: white;
}

.button-main {
    width: 100px;
    height: 30px;
    background: #1ED760;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
    margin: 2px;
    margin-top: 25px;
}

.button-info {
    width: 100px;
    height: 30px;
    background: #E1B661;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
    margin: 2px;
    margin-top: 25px;
}

.button-delete {
    width: 100px;
    height: 30px;
    background: red;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
    margin: 2px;
    margin-top: 25px;
}

.sign_in {
    width: 70%;
    background: #333333;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 50px;
}

.sign_in-title {
    color: white;
    font-size: 34px;
    margin: 0;
}

.sign_in-input {
    width: 70%;
}

.profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 25px;
    border-radius: 50%;
}

.profile-info {
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 34px;
}

.profile-input {
    margin: 0;
}
