.button-main {
    width: 100px;
    height: 30px;
    background: #1ED760;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
    margin: 2px;
    margin-top: 25px;
}

.button-main:hover {
    cursor: pointer;
}

.button-info {
    width: 100px;
    height: 30px;
    background: #E1B661;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
    margin: 2px;
    margin-top: 25px;
}

.button-info:hover {
    cursor: pointer;
}

.button-danger {
    width: 100px;
    height: 30px;
    background: red;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
    margin: 2px;
    margin-top: 25px;
}

.button-danger:hover {
    cursor: pointer;
}

.button-add {
    width: 40px;
    height: 40px;
    background: #666666;
    display: block;
    border: 0;
    padding: 0;
    margin: auto;
    margin-top: 25px;
}

.button-add > img {
    width: 40px;
    height: 40px;
}

.button-add > img:hover {
    width: 40px;
    height: 40px;
    filter: brightness(110%);
}

.button-image {
    width: 20px;
    height: 20px;
    background: #333333;
    border: 0;
    padding: 0;
}

.button-image > img {
    width: 20px;
    height: 20px;
    filter: brightness(80%);
}

.button-image > img:hover{
    filter: brightness(200%);
}

.button-image-big {
    width: 30px;
    height: 30px;
    background: #333333;
    border: 0;
    padding: 0;
}

.button-image-big > img {
    width: 30px;
    height: 30px;
    filter: brightness(80%);
}

.button-image-big > img:hover {
    filter: brightness(200%);
}
