.player {
    width: 100%;
    height: 100px;
    background: #333333;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
}

.player > img {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.player-controls {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.player-controls-buttons {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.player-controls-buttons-repeat {
    width: 20px;
    height: 20px;
    background: #333333;
    border: 0;
    padding: 0;
}

.player-controls-buttons-repeat > img {
    width: 20px;
    height: 20px;
}

.player-controls-buttons-back {
    width: 20px;
    height: 20px;
    background: #333333;
    border: 0;
    padding: 0;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.player-controls-buttons-back > img {
    width: 20px;
    height: 20px;
}

.player-controls-buttons-play {
    width: 30px;
    height: 30px;
    background: #333333;
    border: 0;
    padding: 0;
}

.player-controls-buttons-play > img {
    width: 30px;
    height: 30px;
}

.player-controls-buttons-forward {
    width: 20px;
    height: 20px;
    background: #333333;
    border: 0;
    padding: 0;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.player-controls-buttons-forward > img {
    width: 20px;
    height: 20px;
}

.player-controls-buttons-favorite {
    width: 20px;
    height: 20px;
    background: #333333;
    border: 0;
    padding: 0;
}

.player-controls-buttons-favorite > img {
    width: 20px;
    height: 20px;
}

.player-controls-bar {
    width: 100%;
    height: 4px;
    background: #AAAAAA;
    border-radius: 4px;
}

.player-controls-bar-current {
    width: 10%;
    height: 4px;
    background: white;
    border-radius: 4px;
}

.player-controls-bar:hover > .player-controls-bar-current {
    background: #1ED760;
}

.player-controls-bar-time-current {
    margin-top: -16px;
    color: #AAAAAA;
    font-size: 12px;
    font-weight: 600;
    float: left;
}

.player-controls-bar-time {
    margin-top: -20px;
    color: #AAAAAA;
    font-size: 12px;
    font-weight: 600;
    float: right;
}

.player-track {
    width: 60px;
    margin-right: 20px;
    text-align: left;
}

.player-track-title {
    width: 60px;
    color: white;
    line-height: 20px;
    margin: 0;
}

.player-track-artist {
    width: 60px;
    color: #AAAAAA;
    line-height: 20px;
    margin: 0;
}
